@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  font-family: "Mulish", sans-serif;
}

.App {
  background-color: rgb(234, 224, 224);
  border-style: solid;
  border-radius: 10px;
  margin-left: 35%;
  width: 15%;
  height: 30vh;
  /* padding-top: 5%; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 10px;
  box-shadow: 1.5px 1px 2px gray;
  display: flex;
}

.active {
  border-bottom: 2px solid rgba(9, 227, 243, 0.562);
}
